<h2>Bento</h2>

<form method="get" action="" onsubmit="search()" name="searchAuto">
    <label for="searchbox" class="hidden">Search terms</label>
    <input id="searchbox"
           type="text"
           ng-model="asyncSelected"
           typeahead="suggestion as suggestion.text for suggestion in getLocation($viewValue)| filter:$viewValue | limitTo:5"
           class="form-control"
           onsubmit="search()"
           typeahead-template-url="customTemplate.html"
           typeahead-wait-ms="50"
           typeahead-editable="true"
           typeahead-on-select="search($item,$model,$label)">
</form>

<!-- The template for an auto-suggest entry. -->
<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span class="typeahead-label" bind-html-unsafe="match.label | typeaheadHighlight:query"></span> <span
            class="typeahead-subject" bind-html-unsafe="match.model.payload.type | typeaheadHighlight:query"></span>
    </a>
</script>


<div id="primary">

    <div class="result-container" ng-class="{loading: ! catalog_results} ">
        <h3>Catalog</h3>

        <div class="result-link" ng-show="catalog_results">
            <a href="{{catalog_results.search_link}}">{{catalog_results.total_results}}
                results <span class="icon-link"> </span></a>
        </div>

        <ul ng-show="catalog_results">
            <li ng-repeat="result in catalog_results.items"><a href="http://{{result.link}}" class="title">{{result.title}}</a>
                <span class="creator" ng-if="result.creator">{{result.creator}}</span>
                <span class="creator" ng-if="! result.creator">{{result.contributors[0].truncate(100)}}</span>
                <span class="publisher" ng-if="result.publisher">{{result.publisher}} {{result.date}}</span>
            </li>
        </ul>
    </div>
</div>

<div id="secondary">
    <div class="result-container" ng-class="{loading: ! articles_results}">
        <h3>Primo Central</h3>

        <div class="result-link" ng-show="catalog_results">
            <a href="{{articles_results.search_link}}">{{articles_results.total_results}}
                results <span class="icon-link"> </span></a>
        </div>

        <ul ng-show="articles_results">
            <li ng-repeat="result in articles_results.items"><a href="{{result.link}}"
                                                                class="title">{{result.title}}</a>
                <span class="creator" ng-if="result.creator[0]">{{result.creator[0]}}</span>
                <span class="publisher" ng-if="result.part_of[0]">{{result.part_of[0]}}</span>
            </li>
        </ul>
    </div>


    <div class="result-container outside" ng-class="{loading: ! dpla_results} ">
        <h3>Outside BC</h3>

        <div class="outside-result" ng-show="dpla_results"><a href="{{dpla_results.link}}">{{dpla_results.total}}
            results</a> at the <strong>DPLA</strong></div>
    </div>

</div>

<div id="tertiary">
    <div class="result-container librarians" ng-class="{loading: ! services_results} ">
        <h3>Librarians</h3>

        <ul ng-show="services_results" ng-repeat="result in services_results.librarians">
            <li><img src="{{result.image}}" alt="picture of {{result.name}}">
                <h4 class="librarian-name">{{result.name}}</h4>

                <div class="librarian-subject" ng-repeat="subject in result.subjects">{{subject.term}}</div>
            </li>
        </ul>
    </div>

    <div class="result-container guides" ng-class="{loading: ! guides_results} ">
        <h3>Subject guides</h3>

        <ul ng-show="guides_results">
            <li ng-repeat="result in guides_results.guides">
                <div><a href="{{result.url}}">{{result.title}}</a></div>
                <div class="guide-description">{{result.description}}</div>
            </li>
        </ul>
    </div>
</div>

</div>