<h2>Bento</h2>

<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span class="typeahead-label" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>        <span class="typeahead-subject" bind-html-unsafe="match.model.payload.type | typeaheadHighlight:query"></span>
    </a>
</script>

<form method="get" action="" onsubmit="search()">
    <label for="searchbox" class="hidden">Search terms</label>
    <input id="searchbox"
           type="text"
           ng-model="asyncSelected"
           typeahead="suggestion as suggestion.text for suggestion in getLocation($viewValue)| filter:$viewValue | limitTo:5"
           class="form-control"
           onsubmit="search()"
           typeahead-template-url="customTemplate.html"
           typeahead-wait-ms="50"
           typeahead-editable="true">
</form>

<div class="results">

    <div class="result-container" ng-class="{loading: ! catalog_results} ">
        <h3>Catalog</h3>

        <ul ng-show="catalog_results" ng-repeat="result in catalog_results">
            <li><a href="http://{{result.link}}" class="title">{{result.title}}</a>
                <span class="creator" ng-if="result.creator">{{result.creator}}</span>
                <span class="creator" ng-if="! result.creator">{{result.contributors[0].truncate(100)}}</span>
                <span class="publisher" ng-if="result.publisher">{{result.publisher}} {{result.date}}</span>
            </li>
        </ul>
    </div>

    <div class="result-container" ng-class="{loading: ! articles_results}">
        <h3>Primo Central</h3>

        <ul ng-show="articles_results" ng-repeat="result in articles_results">
            <li><a href="http://localhost/libsearch/bc/id/{{result.id}}" class="title">{{result.title}}</a>
                <span class="creator" ng-if="result.creator[0]">{{result.creator[0]}}</span>
                <span class="publisher" ng-if="result.part_of[0]">{{result.part_of[0]}}</span>
            </li>
        </ul>
    </div>

    <div class="result-container librarians" ng-class="{loading: ! services_results} ">
        <h3>Librarians</h3>

        <ul ng-show="services_results" ng-repeat="result in services_results.librarians">
            <li><img src="{{result.image}}" alt="picture of {{result.name}}">
                <div>{{result.name}}</div>
            </li>
        </ul>
    </div>

    <div class="result-container" ng-class="{loading: ! dpla_results} ">
        <h3>DPLA</h3>

        <ul ng-show="dpla_results" ng-repeat="result in dpla_results">
            <li>{{result.sourceResource.title}}</li>
        </ul>
    </div>
</div>