@font-face {
    font-family: 'bc-search-symbols';
    src: url('../font/bc-search-symbols.eot?45439404');
    src: url('../font/bc-search-symbols.eot?45439404#iefix') format('embedded-opentype'), url('../font/bc-search-symbols.woff?45439404') format('woff'), url('../font/bc-search-symbols.ttf?45439404') format('truetype'), url('../font/bc-search-symbols.svg?45439404#bc-search-symbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "bc-search-symbols";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-google:before {
    content: '\e800';
}

/* '' */
.icon-video:before {
    content: '\e806';
}

/* '' */
.icon-picture:before {
    content: '\e805';
}

/* '' */
.icon-th-list:before {
    content: '\e803';
}

/* '' */
.icon-link:before {
    content: '\e801';
}

/* '' */
.icon-arrows-cw:before {
    content: '\e802';
}

/* '' */
.icon-list:before {
    content: '\e804';
}

/* '' */

/* app css stylesheet */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    width: 95%;
    margin: 0 auto;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.result-container {
    min-height: 200px;
    padding: 0 2em 0 0;
    background-color: #fff;
}

.result-container ul li {
    list-style: none;
    margin-bottom: 1em;
    font-size: .92857em;
}

.result-container ul {
    padding: 0;
    margin: 0;
}

.loading {
    background: #fff url(../img/loading-circle.gif) no-repeat center center;
}

.results {
    clear: left;
}

.result-container li .title, .result-container li a {
    text-decoration: none;
    color: #0075b0;
    font-weight: bold;
}

.result-container .creator {
    display: block;
    color: #666;
}

.result-container .publisher {
    display: block;
    color: #888;
}



/* Typeahead stuff
----------------------------*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu .active a, .dropdown-menu .active a:hover, .dropdown-menu .active a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

h2 {
    float: left;
    margin-top: 0;
    text-align: right;
}

form {
    float: left;
    margin-top: 3px;
    margin-left: 1em;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#searchbox {
    width: 46em;
}

.typeahead-subject {
    font-size: .85em;
    color: #888;
    text-align: right;
    display: inline-block;
    width: 20%;
}

.typeahead-label {
    display: inline-block;
    width: 80%;
    overflow: hidden
}

.active .typeahead-subject {
    color: #ddd;
}

.dropdown-menu {
    width: 36em;
}

#primary, #secondary, #tertiary {
    float: left;
}

#primary {
    width: 45%;
    padding: .5em;
}

#secondary {
    width: 35%;
    padding: .5em
}

#tertiary {
    width: 20%;
    padding: .5em;
}

#primary {
    clear: left;
    float: left;
}

#primary .result-container h3, #secondary .result-container h3 {
    float: left;
    width: 60%;
}

.result-link {
    float: left;
    width: 40%;
    margin-top: 1.64em;
    font-size: .9em;
    text-align: right;
}

.outside-result a, .result-link a {
    text-decoration: none;
    color: #0075b0;
}

.result-container ul {
    clear: left;
}

@media screen and (max-width: 1020px) and (min-width: 767px) {
    #primary {
        width: 50%;
    }

    #secondary {
        width: 50%;
    }

    #tertiary {
        width: 100%;
    }
}

@media screen and (max-width: 766px) {
    #primary {
        width: 100%;
    }

    #secondary {
        width: 100%;
    }

    #tertiary {
        width: 100%;
    }

    .result-container {
        min-height: 0;
    }
}

h4 {
    padding: 0;
    margin: 0;
}

.librarian-subject, .guide-description
{
    color: #666;
}

.outside-result {
    clear: left;
}