#all-results, #all-results * {
    box-sizing: border-box;
}

/** Accessible hide class. **/
#all-results .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/** Layout **/

#all-results #primary, #all-results #secondary, #all-results #tertiary {
    float: left;
}

#all-results #primary {
    width: 30%;
    margin-right: 10%;
}

#all-results #secondary {
    width: 30%;
    margin-right: 10%;
}

#all-results #tertiary {
    width: 20%;
}

/** End layout **/

/* Typeahead stuff - Handle with care
----------------------------*/

/** Script default styles. **/
#newsearch .dropdown-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

#newsearch .dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    color: #333333;
    white-space: nowrap;
}

#newsearch .dropdown-menu .active a, #newsearch .dropdown-menu .active a:hover, #newsearch .dropdown-menu .active a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

/** Locally customized typeahead stuff. **/
#block_search form {
    float: left;
    width: 100%;
}

.typeahead-subject {
    font-size: .85em;
    color: #888;
    text-align: right;
    display: inline-block;
    width: 20%;
}

.typeahead-label {
    display: inline-block;
    width: 80%;
    overflow: hidden
}

.active .typeahead-subject {
    color: #ddd;
}

/** End typeahead stuff **/

/** Start results stuff **/

#all-results #primary .result-container h3, #all-results #secondary .result-container h3 {
    display: inline-block
}

/** More results link **/
#all-results .more-results-link {
    display: inline-block;
}

#all-results .loading {
    background: #fff url(../img/loading-circle.gif) no-repeat center center;
}

#all-results .result-container {
    min-height: 200px;
}

#all-results .result-container ul {
    padding: 0;
    margin: 0;
    clear: left;
}

#all-results .result-container ul li {
    list-style: none;
    margin-bottom: 1em;
}

#all-results .result-container li .title, .result-container li a {
    text-decoration: none;
    color: #0075b0;
    font-weight: bold;
}

#all-results .result-container .creator {
    color: #666;
}

#all-results .result-container .publisher {
    color: #888;
}

#all-results .outside-result a, #all-results .more-results-link a {
    text-decoration: none;
    color: #0075b0;
}

#all-results .outside-result {
    clear: left;
}

/** Librarian/Subject guide results. **/
#all-results h4 {
    margin: 0;
}

.librarians img {
    width: 30%;
    float: left
}

.librarian-info {
    float: left;
    width: 70%;
    padding-left: .5em
}

#all-results .librarian-subject, #all-results .guide-description {
    color: #666;
}

/** End Librarian result. **/

/** Covers **/

#all-results .cover-image {
    width: 20%;
    float: left;
}

#all-results .catalog-text.has-cover {
    width: 80%;
    float: left;
    padding-right: 1em
}

/** end covers **/

#all-results .result-container li {
    overflow: hidden;
    clear: both;
    margin-bottom: 1em;
}

#all-results .open-result-tools {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    width: .6em;
    height: .6em;
}

#all-results .open-result-tools:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

#all-results .catalog-metadata {
    font-size: .9em;
}

#all-results .type {
    color: #666;
}

.result-tools {
    background: #f2f2f6;
    height: 40px;
    overflow: hidden;
}

/** Result tools opening animation **/

.result-tools.ng-hide-add, .result-tools.ng-hide-remove {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    display: block !important;
}

.result-tools.ng-hide-add.ng-hide-add-active,
.result-tools.ng-hide-remove {
    height: 0;
}

.result-tools.ng-hide-add,
.result-tools.ng-hide-remove.ng-hide-remove-active {
    height: 40px;
}

/** end result tools animation **/

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    box-sizing: border-box;
    width: 100%;
    padding: 6px 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 3px 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: .9em;
}

.tt-suggestion {
    margin-bottom: 1em;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #430000;
}

.tt-suggestion .full {
    display: none;
}

.tt-suggestion.tt-cursor .summary {
    display: none;
}

.tt-suggestion.tt-cursor .full {
    display: inline;
}

.tt-suggestion p {
    margin: 0;
}

.tt-suggestion {
    cursor: pointer;
}

.typeahead-type {
    color: #ddd;
}

#typeahead {
    width: 400px;
}

.tt-dropdown-menu h3 {
    font-size: .9em;
    color: rgb(183, 181, 185);
    padding: 0;
    margin: 0;
}