body {
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    padding: 0 2em;
    width: 1170px;
}

h1, h2, h3, h4, h5 {
    color: #900;
}

.librarian-subject {
    font-size: .8em
}

#all-results .cover-image {
    width: 25%;
}

#all-results .catalog-text.hascover {
    width: 75%;
}

.librarians img {
    width: 35%;
}

.librarian-info {
    width: 65%;
}